@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.foot-logo{
  font-family: "Anta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Add this to your existing CSS file or create a new one */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: white; /* Add a background color if needed */
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out;
}

nav{
  font-size: em;
}